//Fonts

@font-face {
	font-family: "Larsseit-Regular";
	src: url("/fonts/Larsseit/Larsseit.woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Larsseit-Medium";
	src: url("/fonts/Larsseit/Larsseit-Medium.woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Larsseit-Bold";
	src: url("/fonts/Larsseit/Larsseit-Bold.woff");
	font-style: normal;
	font-weight: normal;
}

html, body{
	overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
    font-family: $heading-font!important;
    letter-spacing: -0.1rem;
	color: $dark-color-accent!important;
	&.logo{
		color: $main-color-accent!important;
	}
	&.bold{
		font-family: $heading-bold-font!important;
	}
	&.light{
		color: #fff!important;
	}
}

p, li{
    font-family: $content-font;
    letter-spacing: -0.02rem;
    color: $soft-dark-color-accent;
	font-size: 1.05rem;
	line-height: 2rem;
	&.content-header{
		color: $soft-dark-color-accent;
		font-size: 1.2rem;
		line-height: 2.4rem;
	}
}

strong{
	&.hl-text{
		color: $dark-color-accent;
		font-family: $heading-font;
		font-weight: normal;
	}
}

a{
	&.cta-button{
		background-color: $main-color-accent;
		color: #fff;
        font-family: $heading-bold-font;
        font-size: $action-font-size;
        letter-spacing: $action-letter-spacing;
	}
	&.secondary{
		background-color: $dark-color-accent!important;
	}
	&.link-button{
		color: $main-color-accent;
        font-family: $heading-font;
        font-size: $action-font-size;
	}
	&:hover{
		text-decoration: none;
	}
	
}

.show-navigator{
	opacity: 1;
}

@media(max-width: 640px){
	.fix-padding-small-link{
		padding: 0px 10px;
	}
}