//Main Color Accents
$main-color-accent: #4B56F1; 
$secondary-color-accent: #9FDA78;

$dark-color-accent: #151842;
$soft-dark-color-accent: #727582;
$soft-color-accent: #DBDCE8;

$background-color-accent: #F5F5FC;

//Fonts

$heading-font: 'Larsseit-Medium';
$heading-bold-font: 'Larsseit-Bold';
$content-font: 'Larsseit-Regular';

//Link Font Size

$action-font-size: .8rem;
$action-letter-spacing: 0.05rem;